@model Dominio.Transportadora

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Deseja realmente excluir este registro?</h3>
<fieldset>
    <legend>Excluir Transportadora</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cnpj)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cnpj)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Excluir" /> |
        @Html.ActionLink("Cancelar", "Index")
    </p>
}
